.attendance-page{

    min-height:100vh;

    background:#f8fafc;

}

.attendance-navbar{

    height:80px;

    background:white;

    display:flex;

    align-items:center;

    padding:0 40px;

    box-shadow:
    0 2px 10px rgba(0,0,0,.08);

}

.attendance-navbar h2{

    color:#16a34a;

}

.attendance-navbar p{

    color:#64748b;

    font-size:13px;

}

.attendance-container{

    width:90%;

    margin:40px auto;

}

.attendance-container h1{

    margin-bottom:30px;

    color:#0f172a;

}

.attendance-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

    gap:25px;

}

.attendance-card{

    background:white;

    padding:25px;

    border-radius:20px;

    cursor:pointer;

    box-shadow:
    0 4px 15px rgba(0,0,0,.08);

    transition:.3s;

}

.attendance-card:hover{

    transform:translateY(-5px);

}

.attendance-card h2{

    color:#16a34a;

    margin-bottom:10px;

}